{% extends 'base.html' %}
{% block title %}
  Variant Options
{% endblock %}

{% block content %}
  <div class="container py-5">
    <h1 class="mb-4">Add Variant Options for {{ product.name }}</h1>
    <form method="POST">
      {{ form.hidden_tag() }}

      <div id="option-list">
        {% for subform in form.options %}
          <div class="mb-3">{{ subform.option_name(class='form-control', placeholder='e.g. Size') }}</div>
        {% endfor %}
      </div>

      <button type="button" class="btn btn-outline-secondary mb-3" onclick="addOption()">+ Add Another Option</button>
      {{ form.submit(class='btn btn-dark') }}
    </form>
  </div>

  <script>
    let index = {{ form.options|length | int }};
    function addOption() {
      const container = document.getElementById('option-list');
      const newInput = document.createElement('input');
      newInput.type = 'text';
      newInput.name = `options-${index}-option_name`;
      newInput.className = 'form-control mb-3';
      newInput.placeholder = 'e.g. Hand Orientation';
      container.appendChild(newInput);
      index++;
    }
    
  </script>
{% endblock %}
