{% extends 'base.html' %}
{% block title %}Manage Products{% endblock %}

{% block content %}
<div class="container py-5">
  <h1 class="mb-4">Manage Products</h1>

  <div class="mb-4">
    <a href="{{ url_for('admin.wizard_step1') }}" class="btn btn-dark">+ Add New Product</a>
  </div>

  <table class="table table-bordered table-hover align-middle">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Type</th>
        <th>SKU / Variants</th>
        <th>Price</th>
        <th>Environmental Impact</th>
        <th>Stock</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in products %}
        <tr>
          <td>{{ item.name }}</td>
          <td>{{ item.category.name if item.category else '—' }}</td>
          <td>{{ 'With Variants' if item.is_variant_parent else 'Simple' }}</td>
          {% if not item.is_variant_parent %}
            <td>{{ item.sku }}</td>
            <td>£{{ '%.2f'|format(item.price) }}</td>
            <td>{{ '%.2f'|format(item.environmental_impact) }} kg CO₂</td>
            <td>{{ item.stock }}</td>
          {% else %}
            {% set variant_list = item.variants|list %}
            {% if variant_list|length > 0 %}
              {% set prices = variant_list|map(attribute='price')|list %}
              {% set impacts = variant_list|map(attribute='environmental_impact')|list %}
              {% set stocks = variant_list|map(attribute='stock')|list %}

              <td>{{ item.variants | length }} variants</td>

              <td>
                £{{ '%.2f'|format(prices|min) }} - £{{ '%.2f'|format(prices|max)}}
              </td>

              <td>
                {{  '%.2f'|format(impacts|min) }} kg CO₂ - {{  '%.2f'|format(impacts|max) }} kg CO₂
              </td>
              
              <td>
                {{ stocks|min }}-{{ stocks|max }}
              </td>
            {% endif %}
          {% endif %}
          <td>
            {% if item.is_variant_parent %}
              <a href="{{ url_for('admin.edit_variant_product', id=item.id) }}" class="btn btn-sm btn-warning">Edit</a>
            {% else %}
              <a href="{{ url_for('admin.edit_simple_product', id=item.id) }}" class="btn btn-sm btn-warning">Edit</a>
            {% endif %}
            
            <a href="{{ url_for('admin.delete_product', product_id=item.id) }}"
               class="btn btn-sm btn-danger"
               onclick="return confirm('Delete this product and all associated data?');">
               Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
