{% extends 'base.html' %}
{% block title %}
  Login
{% endblock %}

{% block content %}
  <main class=" {{ page_class }}">
    <div class="p-5 rounded shadow-lg bg-white" style="max-width: 500px; width: 100%;">
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div id="flash-message" class="text-center mb-3">
            {% for category, message in messages %}
              <p class="small fw-medium
              {% if category == 'success' %}
                  text-success
                {% elif category == 'danger' %}
                   text-danger
                {% else %}
                   text-muted
                {% endif %}">{{ message }}</p>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <!-- Heading -->
      <div class="text-center mb-4">
        <h1 class="fw-bold" style="font-family: 'Cinzel', serif; color: #D4AF37;">Login</h1>
        <p class="text-muted">
          Sign in to your En Garde account <br /> and start your fencing journey today!
        </p>
      </div>

      <!-- Form -->
      <form method="POST">
        <div class="mb-3">
          <label for="inputEmail" class="form-label">Email address</label>
          <input type="email" class="form-control" id="inputEmail" name="email" placeholder="you@example.com" required />
        </div>

        <div class="mb-3">
          <label for="inputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Enter your password" required />
        </div>

        <!-- Forgot password link -->
        <div class="mb-3 text-end">
          <a href="#" class="text-decoration-none text-muted">Forgot your password?</a>
        </div>

        <!-- Submit button -->
        <div class="d-grid">
          <button type="submit" class="btn btn-dark" style="background-color: #D4AF37; border: none;">Sign In</button>
        </div>
        <div class="text-center">
          <p class="mb-0 mt-2 text-muted">
            Don't have an account?
            <a href="{{ url_for('auth.sign_up') }}" class="text-decoration-none" style="color: #D4AF37;">Register here</a>
          </p>
        </div>
      </form>
    </div>
  </main>

  <script>
    setTimeout(() => {
      const flash = document.getElementById('flash-message')
      if (flash) {
        flash.style.transition = 'opacity 0.5s ease-out'
        flash.style.opacity = '0'
        setTimeout(() => flash.remove(), 500)
      }
    }, 3000)
  </script>
{% endblock %}
