<div>
    <h4>Shipping Information</h4>
    <div class="mb-3">
      {{ form.first_name.label(class='form-label') }}
      {{ form.first_name(class='form-control') }}
    </div>
    <div class="mb-3">
      {{ form.last_name.label(class='form-label') }}
      {{ form.last_name(class='form-control') }}
    </div>
    <div class="mb-3">
      {{ form.shipping_address.label(class='form-label') }}
      {{ form.shipping_address(class='form-control') }}
    </div>
    <div class="mb-3">
      {{ form.city.label(class='form-label') }}
      {{ form.city(class='form-control') }}
    </div>
    <div class="mb-3">
      {{ form.postal_code.label(class='form-label') }}
      {{ form.postal_code(class='form-control') }}
    </div>
    <div class="mb-3">
      {{ form.country.label(class='form-label') }}
      {{ form.country(class='form-select') }}
    </div>
  </div>
  